@import "tailwindcss";

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

@media (pointer: coarse) {
  .touch-device\:opacity-100 {
    opacity: 1 !important;
  }
  .touch-device\:translate-y-0 {
    transform: translateY(0) !important;
  }
}
