@import "tailwindcss";


body {
  background-color: black;
  color: #fff;

  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}


/* Zeige die Beschreibung standardmäßig auf Touch-Geräten */
/* Zeige die Beschreibung auf Touch-Geräten */
@media (pointer: coarse) {
  .touch-device\:opacity-100 {
    opacity: 1 !important;
  }
  .touch-device\:translate-y-0 {
    transform: translateY(0) !important;
  }
}