@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  overflow-x: hidden;
  
}
html {
  color: black;
}

html.dark {
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

@media (pointer: coarse) {
  .touch-device\:opacity-100 {
    opacity: 1 !important;
  }
  .touch-device\:translate-y-0 {
    transform: translateY(0) !important;
  }
} 


